@charset "utf-8";
/*-----------------index-------------------1228*/
.news{ width:1220px; margin:0px auto 0 auto; }
.news li { height:124px; overflow:hidden;}
.news li,.newslist li{width:580px; padding:20px 0px; margin:0 12px; overflow:hidden; float:left;}
.news li a.news_img,.newslist li a.news_img{ width:220px; height:124px; float:left; margin-right:20px; overflow:hidden;}
.news li a.news_img img,.newslist li a.news_img img{ width:230px;  -webkit-transition: all .3s ease-out;-moz-transition: all .5s ease-out;-ms-transition: all .5s ease-out;-o-transition: all .5s ease-out;transition: all .5s ease-out;}
.news li a.news_img:hover img,.newslist li a.news_img:hover img{ width:250px; margin:-5.5px -10px;}
.news li h4 a,.newslist li h4 a{ font-size:18px; font-weight:normal; color:#222;}
.news li h4 a:hover,.newslist li h4 a:hover{color:#f80;}
.news li span,.newslist li span{ display:block; padding:10px 0; color:#999;}
.news li span em,.newslist li span em{ color:#183884;}
.news li p,.newslist li p{ font-size:14px; color:#888;}

.newslist{ display:block; padding:10px; width:1200px;}
.newslist li{ display:block; float:none; width:auto; border-bottom:1px dotted #ccc;padding:30px 0px;}


.t1{ font-size:22px; font-family:"Microsoft Yahei", "黑体"; color:#202020;line-height:22px; padding:40px 0px 0px 0px; border-bottom:1px solid #ddd; margin:0 10px 0px 10px; height:77px; height:36px; clear:both;}
.t1 a{color:#999; font-size:12px; font-family:"宋体"; float:right; }
.t1 a:hover{color:#183884;}
.t1 dl{ display:block; height:36px;}
.t1 dl dt,.t1 dl dd{ display:inline;}
.t1 dl dt,.t1 span{ padding-right:0.5em; float:left; height:36px; color:#222;}
.t1 dl dd{float:left; color:#ddd; font-size:12px; padding:0 0.5em;}
.t1 dl dd a{ float:none; color:#444; line-height:35px; padding:0 1em;}
.t1 dl dd a.cur,.t1 dl dd a:hover{ border-bottom:0px solid #09F; color:#f80;}

.graybg{ background:#f7f7f7; }

/*templet*/
.t_1v8{ display:block;}
.t_1v8 dt{float:left; width:220px; box-sizing:border-box; height:412px; overflow:hidden; margin-left:10px;display:inline;}
.t_1v8 dd{float:left; margin-left:15px; width:975px; box-sizing:border-box; display:inline;  overflow:hidden;}
.t_1v8 dd .video_list{ width:980px;}

.t_1v3{ display:block;}
.t_1v3 dt{float:left; width:465px;  box-sizing:border-box; height:230px; margin-left:10px;display:inline;}
.t_1v3 dt div.img{height:214px; overflow:hidden;}
.t_1v3 dt div.txt{margin-top:-5px; background:#fff;}
.t_1v3 dt img{ display:block; width:465px}
.t_1v3 dd{float:left; margin-left:15px; width:725px; box-sizing:border-box; display:inline;  height:214px; }
.t_1v3 dd .video_list{ width:735px;}

.t_1v3 dt p { color:#333; display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:14px; line-height:14px; padding:10px 0 5px 0;transition: color 0.5s;
-moz-transition: color 0.5s;	/* Firefox 4 */
-webkit-transition: color 0.5s;	/* Safari 和 Chrome */
-o-transition: color 0.5s;}
.t_1v3 dt div span.time, .t_1v3 dt div span.play_num{color:#999; line-height:26px;}
.t_1v3 dt div span.time i{ background-position:0 -20px;}
.t_1v3 dt div span.play_num i{ background-position:0 -60px;}
.t_1v3 dt div span.play_num{ float:right; width:60px;}
/*live & video*/
.live_list,.video_list{ margin:auto; padding-top:15px ; display:block; margin:auto; margin-left:-5px;}
.live_list li,.video_list li{ float:left; width:240px; overflow:hidden; overflow:visible;position:relative; display:inline; margin-left:5px;}
.live_list li a,.video_list li a{padding:10px; display:block;}
.live_list li a:hover,.video_list li a:hover{padding:9px; border:1px solid #ddd; display:block; background:#fff; box-shadow:0 2px 0px rgba(0,0,0,.05);}
.live_list li .live_img,.video_list li .video_img{ width:220px; height:124px; position:relative; overflow:hidden; display:block; position:relative;}
.live_list li .live_img img,.video_list li .video_img img{ width:230px;-webkit-transition: all .3s ease-out;-moz-transition: all .5s ease-out;-ms-transition: all .5s ease-out;-o-transition: all .5s ease-out;transition: all .5s ease-out;}
.live_list li .live_img img:hover,.video_list li .video_img img:hover{width:250px; margin:-5.5px -10px;}
.live_list li .live_img span,.live_list li .live_img span{ display:block; height:28px; background:rgba(0,0,0,.4);*background:#000; _background:#000; line-height:28px; padding-left:6px; bottom:0; position:absolute; width:230px; color:#fff; z-index:10;}
.live_list li:hover div,.video_list li:hover div{ background:#fff; }
.live_list li  .live_tit,.video_list li a p { display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:14px; line-height:14px; padding:10px 0 5px 0;transition: color 0.5s;
-moz-transition: color 0.5s;	/* Firefox 4 */
-webkit-transition: color 0.5s;	/* Safari 和 Chrome */
-o-transition: color 0.5s;}
.video_list li a p:hover{ color:#f80;}
.video_list li a span.time,.video_list li a span.play_num{color:#999; line-height:26px;}
.video_list li a .time i{ background-position:0 -20px;}
.video_list li a .play_num i{ background-position:0 -60px;}
.video_list li a .play_num{ float:right; width:60px;}
.live_list li a:hover .live_tit:hover{color:#183884;}
.live_list li.live0  .live_tit{color:#666;}
.live_list li.live0 a:hover .live_tit:hover{color:#666;}
.live_list li  .live_btn{ font-size:12px; color:#1ba9e9; line-height:26px; height:26px; display:block;}
.live_list li  .live_btn i,.video_list li a i, .t_1v3 dt div span i{ width:12px; height:12px; background:url(../images/icon.gif) no-repeat 0 -40px; float:left; margin:6px 5px 0 0;}

.live_list li.live1  .live_img span{color:#fff;}
.live_list li.live1  .live_btn{ color:#f80;}
.live_list li.live1  .live_btn i{ background-position:0 0;}
.live_list li.live0  .live_btn{ color:#666;}
.live_list li.live0  .live_btn i{ background-position:0 -20px;}

/**********/
.main .video_list li{ margin-bottom:15px}
.t2,.t3{  font-family:"Microsoft Yahei", "黑体"; font-size:14px; padding:10px 0 10px 0; color:#666; border-bottom:1px solid #ddd; margin:10px 10px 0 10px;}
.t2 span{font-size:16px;color:#202020;line-height:22px; padding-right:10px; }
.t3{  font-family:"Microsoft Yahei", "黑体"; font-size:14px; padding:10px 0 10px 0; color:#666; border-bottom:1px solid #ddd; margin:10px 10px 0px 10px;}
.t3 span{font-size:22px;color:#202020;line-height:22px; padding:0 10px 0 0px; }

/*----------news-------------*/
.p_nav{ color:#666; float:right; padding:5px 10px 0 0;}
.p_nav a{color:#666;}
.p_nav i{ font-style:normal; color:#ccc; font-family:"宋体"; padding:0 4px;}
h1{ text-align:center; font-weight:normal; display:block; line-height:24px; font-size:24px; padding:40px 0 20px 0;}
.author{ text-align:center; color:#999; margin-bottom:20px;line-height:12px; padding-bottom:10px; margin:0 10px;}
.author i{ font-style:normal; color:#1ba9e9;}
.news_txt{ font-size:14px; line-height:200%; padding:10px; text-indent:2em;}
.news_txt img{ display:block; margin:10px auto; max-width:980px;}
/*----------video-------------*/
.filter{ margin:0px 10px 20px 10px; background:#f4f4f4; padding:10px 20px;}
.filter dl{ clear:both; line-height:36px; height:36px; display:block; font-size:14px; }
.filter dl dt{ float:left;}
.filter dd{ float:left; padding:0 15px;}
.filter dd.cur{color:#183884;}
.filter dd.cur:hover{color:#183884;}
.filter dd:hover{color:#183884;}
.f1{ border-bottom:1px dashed #ddd;}
/*------------------------*/

#video-player { width: 1200px;height: 675px;padding: 0;}
#video-player .vod-player{width: 1200px;height: 675px;}

.play{background:#444;padding:10px 0 20px 0;}
.play_header{ color:#fff; width:1200px; margin:auto;}
.play_header .p_nav{ float:none; color:#fff; padding:0;}
.play_header .p_nav a{ color:#ccc;}
.play_header .p_nav a:hover{color:#183884;}
.play_header h2{ display:block; font-size:24px; font-weight:normal; height:42px; line-height:42px; display:block;}
.play_header p{ color:#ccc; display:block; height:26px;}
.play_header p span{color:#183884;}
.player{ margin:auto; width:1200px; height:675px; background:#000; box-shadow:0 0 16px rgba(0,0,0,.8)}
.status_toolbar{padding:5px 0;  height: 29px;}
.video_status{ float:left; width: 400px; height: 29px; color:#ccc;}
.play_tool{ float:right; display: block; width: 560px; height: 29px;}
.play_tool li { height:24px; line-height:24px; float:right; margin-left:10px; cursor:pointer;}
.play_tool li i{ float:left; width:24px; height:24px;background-image:url(../images/icon.gif); margin-right:6px; display:inline;}
.i1{ background-position:0 -140px;}
.i2{ background-position:0 -170px;}
.i3{ background-position:0 -200px;}

/*---comment---*/
.comment{ background:#fff;  clear:both;}
.comment .comment_tit{ font-size:12px;color:#666; padding:20px 0px 10px 0px;}
.comment .comment_tit span{ font-size:16px; color:#333; font-family:"Microsoft Yahei", "黑体"; padding-right:10px;}
.comment .comment_input { margin:0 0px;}
.comment .comment_btns{ padding:5px 0; height:30px;}
.comment .comment_input textarea{ width:100%; height:100px; border:1px solid #ccc; box-sizing:border-box; padding:10px; line-height:180%;}
.comment .comment_input input{ width:100px; height:32px; color:#fff; background:#183884; font-size:14px; float:right; border:0;}
.comment .comment_input .brow{ float:left; width:24px; height:24px; background:url(../images/brow.png) no-repeat; cursor:pointer; margin-right:10px; display:inline;}
.comment .comment_input .font{ line-height:24px; font-family:"Arial Unicode MS"; font-size:12px;}
.comment .comment_cont{ margin:20px 0 0 0;}
.comment .comment_cont dt{ height:32px; line-height:32px; border-bottom:1px solid #ccc; text-align:right; color:#999; font-size:12px; display:block;}
.comment .comment_cont dt span{ display:inline; border-bottom:3px solid #183884; float:left;line-height:29px; padding:0 5px;font-family:"Microsoft Yahei", "黑体"; color:#333; font-size:16px;}
.comment .comment_cont dd{display: block;}
.comment .comment_cont dd ul li{ display:block; border-bottom:1px solid #eee; font-size:12px; padding:15px 0; line-height:200%; color:#666;}
.comment .comment_cont dd ul li span{ color:#183884; padding-right:10px;}
.comment .comment_cont dd ul li p{ color:#333; font-size:14px;}

/*---------------------------------*/
.play_side{ float:right; width:300px;margin-right:10px;}
.play_side dt,.play_inf dt{ font-size:16px; color:#444; line-height:16px; padding-bottom:10px; display:block;}
.play_side dd{ display:block; margin:5px 0 15px 0; height:80px; padding-right:4px;}
.play_side dd:hover{ background:#f7f7f7;}
.side_img{ width:145px; height:80px; float:left; margin-right:10px; display:inline; overflow:hidden;}
.side_img img{ width:145px;}
.play_side dd h4{ font-weight:normal; font-size:14px; display:block; padding:2px 0;}
.play_side dd h4 a{color:#333;}
.play_side dd h4 a:hover{ color:#f80;}
.play_side dd span{ color:#999; display:block; line-height:14px; padding:2px 0;}
.play_side dd span i{ width:12px; height:12px; background:url(../images/icon.gif) no-repeat 0 -40px; float:left; margin:0px 5px 0 0;}
.play_side dd span.time i{ background-position:0 -20px;}
.play_side dd span.play_num i{ background-position:0 -60px;}
.play_main{ float:left; width:850px; margin-left:10px;}
.play_inf{ display:block;}
.play_inf dd{ line-height:200%; color:#666;font-size:14px;}
.live_inf{ width:980px; margin:auto;}

.no_live{padding: 8px; font-size: 14px;}

.video-comments{color: #fff;}
.video-comments a{color: #fff;}
.video-comments a:visited{color: #fff;}


/**------------video.jsp-------------**/
.emotion{cursor: pointer; font-weight: bold; color: #ba2636;}


/*uc用户中心*/
.uc_cont{ margin-left:200px; min-height:400px; width:980px; overflow:hidden;}
.uc_cont .t2{ margin-left:0; margin-right:0;}
.uc_container{ padding:20px 0;}

.recharge{ display:block; padding:20px; font-size:14px;}
.recharge dl{ display:block; clear:both;line-height:32px;padding-top:4px;}
.recharge dl dt{ float:left; display:inline; width:10em; text-align:right;}
.recharge dl dd{ margin-left:10px;display:inline-block;}
.recharge .tc,.recharge .pay_way{ display:block;}
.recharge .tc li,.recharge .pay_way li,.recharge .pay_num li{ display:inline-block; float:left; width:120px; height:48px; border:1px solid #ddd; text-align:center; margin-right:10px; cursor:pointer; vertical-align:middle; background:#f7f7f7; font-size:14px; box-sizing:content-box; position:relative; line-height:48px; color:#222;}
.recharge .tc li span,.recharge .pay_way li span{ position:absolute; background:#f80; top:2px; right:-4px; color:#fff; font-size:12px; line-height:12px; padding:1px;} 
.recharge dd i{ font-style:normal; color:#f80; font-weight:bold;}
.recharge  .tc li.cur,.recharge  .tc li:hover,.recharge .pay_way li.cur,.recharge .pay_num li.cur{ border:1px solid #f80; background:url(../images/cur.gif) no-repeat right bottom #fff;}
.recharge .pay_way li{ height:32px; line-height:32px;}
.recharge .pay_num li{height:32px; line-height:32px; width:auto; padding:0 20px;}
.recharge dl dd img{ display:inline-block;}
.recharge dd p{ font-size:12px; color:#666;}
.wx_note{ display:block; width:120px; background:#183884; color:#fff; text-align:center; margin-top:5px;}


.tabs{ display:block; height:40px; line-height:40px; border-bottom:1px solid #183884;}
.tabs li{ width:100px; height:39px; float:left; text-align:center; font-size:14px;border:1px solid #ddd; border-bottom:0; background:#f7f7f7; display:inline; margin-right:10px; cursor:pointer;}
.tabs li.cur{ color:#fff; background:#183884;border:1px solid #183884;}

.data_filter{ display:block; height:48px; line-height:32px;margin-bottom: 0px;}
.data_filter dt,.data_filter dd{ float:left; line-height: 27px;padding-right: 5px;}
.data_filter dd input{ height:26px; box-sizing:border-box;}
.data_filter dd .btn{ padding:0 10px; background:#183884; color:#fff; border:0; border-radius:3px;vertical-align: top;}
.datatable{ line-height:200%;border:1px solid #eee; border-width:1px 0 0 1px;}
.datatable th{ background:#f7f7f7; text-align:left; text-shadow:0 1px 0 rgba(255,255,255,1);}
.datatable th,.datatable td{ border:1px solid #eee; border-width: 0 1px 1px 0; padding:4px 6px; font-size:14px;}
.datatable td{ color:#666;}

/*pay*/
.price_tag{ position:absolute; left:9px;top:16px;width:60px; height:17px; background:url(../images/price.png) no-repeat; color:#fff; line-height:16px; z-index:10;}
.vip_tag{ position:absolute;left:9px;top:9px;  width:51px; height:51px; background:url(../images/vip.png) no-repeat; z-index:10;}

.video_info{ display:block; background:#f7f7f7; padding:20px; height:130px; box-sizing:content-box;border:1px solid #ddd; margin-top:-20px;width: 1158px;margin: auto;}
.video_info dt{ width:240px; height:130px; position:relative; float:left;}
.video_info dt img{ width:230px; height:130px;}
.video_info dd{ height:130px; color:#666; line-height:200%; width:910px; float:right; overflow:hidden;}
.video_info dd h4{ font-size:18px; display:block; color:#333; font-weight:normal; height:36px; clear:none;}
.video_info dd b{color:#183884;}
.pay{ border:1px solid #ddd; border-top:0; padding:20px;width: 1158px;margin: auto;}
.video_info dt .price_tag{left:-1px;top:6px;}
.video_info dt .vip_tag{left:-1px;top:-1px;}
.video_hot .vip_tag{left:-1px;top:-1px;}
.video_hot .price_tag{left:-1px;top:6px;}
.txt_input{ height:24px; height:24px; border:1px solid #ccc;}
.btn_blue{ border:0; background:#183884; border-radius:4px; height:32px; padding:0 15px;color:#fff; margin:5px }
.btn_gray{ border:0; background:#999; border-radius:4px; height:32px; padding:0 15px;color:#fff; margin:5px }
.btn_orange{ border:0; background:#f80; border-radius:4px; height:32px; padding:0 15px;color:#fff; margin:5px }
.recharge dl dd .btn_blue{ margin-left:0;}
.recharge dl dd a{ color:#f80;}
.recharge dl dd a:hover{text-decoration:underline;}

.agreement{ display:block; background:#f7f7f7; border-top:1px solid #eee; height:auto; overflow:visible;}
.agreement_txt{background:#fff; padding:40px; line-height:200%; font-size:14px;width:960px; margin:auto; border-radius:4px; border:1px solid #eee; box-shadow: 0 1px 0 #fff,0 2px 0 #eee,0 3px 0 #fff,0 4px 0 #eee; margin-bottom:80px; }

/*downlist*/
.downlist{ display:block; min-height:440px; padding:20px 0;}
.downlist dl{ width:580px; padding:25px 0px; margin:0 10px; overflow:hidden; float:left; border-bottom:1px dotted #ccc;}
.downlist dl:hover{ background:#f4f4f4;}
.downlist dl dt{width:160px; height:75px; float:left; overflow:hidden;}
.downlist dl dt img{width:120px; height:75px; display:block; margin-left:10px;}
.downlist dl dd{ font-size:22px; }
.downlist dl dd a{ display:block; border-radius:16px; font-size:14px; color:#fff; width:80px; text-align:center; line-height:32px; background:#183884; margin-top:10px;}

/*class*/
.tab_tit{ display:block; height:28px;}
.tab_tit li{ padding:0 10px; height:37px; float:left; text-align:center; font-size:22px;  display:inline; margin-right:10px; cursor:pointer; line-height:22px;}
.tab_tit li.cur{ color:#333;border-bottom:2px solid #183884;}

.classlist{ display:block; padding:10px; }
.classlist li{ display:block;  width:auto; border-bottom:1px dotted #ccc;padding:30px 0px; overflow:hidden; }
.classlist li:hover{ background:#f7f7f7;}
.classlist li a.class_img{ width:220px; height:124px; float:left; margin-right:20px; overflow:hidden;}
.classlist li a.class_img img{ width:230px;  -webkit-transition: all .3s ease-out;-moz-transition: all .5s ease-out;-ms-transition: all .5s ease-out;-o-transition: all .5s ease-out;transition: all .5s ease-out;}
.classlist li a.class_img:hover img{ width:250px; margin:-5.5px -10px;}
.classlist li h4 a{ font-size:18px; font-weight:normal; color:#222;}
.classlist li h4 a:hover{color:#183884;}
.classlist li span{ display:block; padding:10px 0; color:#999;}
.classlist li span em{ color:#183884; font-size:16px;}
.classlist li span a{color:#666;font-weight:normal; padding-right:10px;font-size:14px;}
.classlist li span a:hover{color:#183884;}
.classlist li p{ font-size:14px; color:#666;}
.classlist li div{float:right; width:100px;  height:74px; text-align:center; padding:25px 20px; line-height:200%; margin-left:30px;color:#999; border-left:1px dashed #ddd;}
.classlist li div a{ display:block; background:#f80; border-radius:4px; height:36px; color:#fff; font-size:14px; line-height:36px;}
.classlist li div em{ color:#f80;}
.classlist li div b{ color:#f80; font-size:18px;}

.class_info{ display:block;  width:1200px; margin:auto; margin-top:20px; }
.class_info .p_nav{ float:none; padding-bottom:10px; margin-top:0; padding-top:0; font-size:14px;}
.class_info .p_nav a:hover{ color:#183884;}
.class_info dl{ display:block; height:315px; background:#f7f7f7; width:1200px; margin:auto; }
.class_info dt{ float:left;}
.class_info dt img{ display:block;width:560px; height:315px;}
.class_info dd { width:598px; display:block; overflow:hidden; color:#666; padding:0 20px; height:313px; border:1px solid #ddd; border-left:0;}
.class_info dd h2{ font-size:22px; font-family:"Microsoft Yahei"; font-weight:normal; line-height:22px; padding:20px 0; color:#333;}
.class_info dd p{ color:#666; font-size:14px; display:block; padding:10px 0; height:100px; line-height:180%;}
.class_info dd em{ font-style:normal; color:#183884;}
.class_info dd span{ display:block; padding-bottom:5px;}
.class_info dd span b{color:#f80;font-weight:normal; padding-right:10px; font-size:22px;}
.class_info dd a{ display:block; height:48px; width:160px; background:#f80; color:#fff; text-align:center; font-size:18px; font-family:"Microsoft Yahei"; line-height:48px;}

.class_main{ width:1198px; margin:auto; border:1px solid #ddd; margin-top:20px; padding:20px 0;}
.class_side{ float:right; width:220px; padding-left:10px; border-left:1px solid #ddd;}
.class_side dt{ font-size:16px; text-indent:10px; display:block; padding-bottom:10px; color:#333;}
.class_side dd{ display:block; overflow:hidden; height:auto;color:#666; padding-bottom:20px;}
.class_side dd:after{ content:" "; clear:both;}
.class_side dd.teacher{}
.class_side dd.teacher span{ display:block; width:190px; padding:10px 10px 0 10px;line-height:160%; border-bottom:1px dotted #ddd;}
.class_side dd.teacher a{ display:block;  font-size:14px; color:#183884;}
.class_side dd.teacher a:hover{ color:#183884;}
.class_side dd.teacher a.all_btn{ border-radius:4px; border:1px solid #183884; width:60px; height:20px; line-height:20px; margin-left:80px; text-align:center; font-size:12px; color:#183884; margin-top:8px;}
.class_side dd.teacher a em{ display:block; font-size:12px;}
.class_side dd.teacher span img{ width:70px; height:70px; border-radius:50%; margin:0 auto 5px auto; float:left; margin-right:10px;}
.class_side dd.teacher span p{ display:block; margin-top:10px;margin-bottom:10px;  padding-top:0px; text-align:left; clear:both;}
.class_side dd.classmate span{ float:left; text-align:center; margin:10px; line-height:180%;}
.class_side dd.classmate span img{ display:block; width:50px; height:50px; border-radius:25px;}

.class_cont{ width:920px; margin-left:20px;}
.class_cont .tabs{ height:35px; border-bottom:1px solid #ddd;}
.class_cont .tabs li{ font-size:18px; width:150px; height:34px; line-height:20px; margin-right:20px; border:0; background:none;}
.class_cont .tabs li.cur{ color:#183884; border-bottom:3px solid #183884; height:33px;}

.tab_cont{ font-size:14px; padding:15px 0; line-height:200%; min-height:400px;overflow:hidden;}
.tab_cont img{max-width:720px;}

/*课程目录*/
.catalog{ display:block; font-size:14px;}
.catalog dt{ display:block; height:40px; line-height:40px; }
.catalog dt{background:#f7f7f7; margin:10px auto; font-size:16px;}
.catalog dt span{ float:left; text-align:center; width:72px; color:#fff; background:#666; margin-right:10px; display:inline;}
.catalog dd{ display:block; overflow:hidden;}
.catalog dd a{ display:block; padding-left:42px; overflow:hidden;height:40px; line-height:40px; border-bottom:1px dotted #eee;}
.catalog dd a.cur{ color:#183884}
.catalog dd a:hover{ background:#f7f7f7;}
.catalog dd i{ float:left; width:40px; height:36px; background-image:url(../images/ico_class.gif); background-repeat:no-repeat;}
i.i_video{ background-position:5px 12px;}
i.i_live{ background-position:5px -20px;}
i.i_exam{ background-position:5px -50px;}
.catalog dd em{ color:#183884; padding-left:20px;}
.catalog dd b{ color:#999; padding-left:20px; font-weight:normal;}
.catalog dd a{ display:block;}
.catalog dd a p{ display:none; float:right; width:48px; height:22px; border-radius:4px; border:1px solid #183884; color:#183884; text-align:center; line-height:22px; margin:8px; font-size:12px;}
.catalog a:hover p{ display:inline;}
/*课程目录over*/

.nav .blackbg{background:#333;}
.pay_page{padding:0 10px;}
.pay_page .p_nav{ float:none; padding-bottom:10px; margin-top:0; padding-top:0; font-size:14px;}
.pay_page .p_nav a:hover{ color:#183884;}

/*teacher t_list*/
.teacher_info,.t_list dl{ display:block; width:1198px; background:#f4f4f4; margin:40px auto; border:1px solid #ccc; }
.teacher_info dt,.t_list dl dt{ width:120px; height:120px; border-radius:50%; overflow:hidden; float:left; display:inline; margin:30px 50px;}
.teacher_info dt img,.t_list dl dt img{ width:120px; }
.teacher_info dd,.t_list dl dd{ display:block; margin-left:220px; min-height:120px;line-height:200%;padding:40px 30px 30px 0; color:#666;}
.teacher_info dd span{ font-size:16px; font-family:Microsoft Yahei; display:block; color:#183884; font-weight:bold;}
.teacher_info dd em,.t_list dl dd em{ font-size:12px; font-family:Microsoft Yahei; display:block; color:#333; font-family:simsun;}
.teacher_info dd p,.t_list dl dd p{ font-size:14px;  display:block; padding-top:10px;}

.t_list{ display:block; width:1200px; margin:auto;}
.t_list dl{display:block; background:none; border:0; width:auto; border-bottom:1px dotted #ccc; margin:0; padding:10px 0;}
.t_list dl:hover{background:#f7f7f7;}
.t_list dl dd a{ color:#183884;font-size:16px;}
.t_list dl dd span{ float:right;}
.t_list dl dd span a{ font-size:12px; border:1px solid #183884; border-radius:12px; height:24px; padding:0 10px; display:block;}
.t_list dl dd em{ color:#666;}

